---
import BaseLayout from '../../layouts/BaseLayout.astro';
import JournalEntry from '../../components/JournalEntry.astro';
import { getCollection } from 'astro:content';
import { deriveSlug } from '../../utils/index';

export async function getStaticPaths() {
  const journal = await getCollection('journal', ({ data }) => !data.draft);
  return journal.map(entry => ({
    params: { slug: deriveSlug(entry.id) },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<BaseLayout title={entry.data.title} description={entry.data.description}>
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-content e-content" itemprop="articleBody">
      <JournalEntry
        title={entry.data.title}
        date={entry.data.date}
        modifiedDate={entry.data.modified_date}
        tags={entry.data.tags}
      >
        <Content />
      </JournalEntry>
    </div>
  </article>
</BaseLayout>
