---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostEntry from '../../components/PostEntry.astro';
import TagCloud from '../../components/TagCloud.astro';
import { getCollection } from 'astro:content';
import { readingTime, deriveSlug, getAllTags } from '../../utils/index';

const projects = await getCollection('projects', ({ data }) => !data.draft);
const sorted = projects.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const tags = getAllTags(projects);
---
<BaseLayout title="Projects">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">💡&ensp;Projects ({projects.length})</h1>
    </header>
    <TagCloud tags={tags} />
    <div class="post-content feed">
      {sorted.map(post => {
        const slug = deriveSlug(post.id, post.data.permalink);
        const url = `/projects/${slug}`;
        const rt = readingTime(post.body, post.data.reading_time);
        return (
          <PostEntry
            url={url}
            title={post.data.title}
            description={post.data.description}
            date={post.data.date}
            modifiedDate={post.data.modified_date}
            tags={post.data.tags}
            readingTime={rt}
            isRedirect={!!post.data.redirect_to}
          />
        );
      })}
    </div>
  </article>
</BaseLayout>
